#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	//emulated gpio description
    gpio_emul0: gpio_emul_0 {
		status = "okay";
		compatible = "zephyr,gpio-emul";
		rising-edge;
		falling-edge;
		high-level;
		low-level;
		gpio-controller;
		ngpios = <2>; // Number of GPIO pins
		#gpio-cells = <2>;
	
	};
	
	keys: keys {
		compatible = "gpio-keys";
		key1: key1 {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
			zephyr,code = <INPUT_KEY_0>;
		};
		key2: key2 {
			gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
			zephyr,code = <INPUT_KEY_1>;
		};
		key3: key3 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			zephyr,code = <INPUT_KEY_2>;
		};
	};
};

&gpio_emul0 {
	ngpios = <3>;

	sdl_gpio {
		status = "okay";
		compatible = "zephyr,gpio-emul-sdl";
		/* Skip pin 0 with the unknown code 0 */
		scancodes = <30 31 32>;
	};
};